.box{
    width: 200px;
    height: 100px;
    background-color: rgb(0, 119, 255);
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    margin: 40px;
}

.box2{
     /* padding: 20px; Aplica em todos os lados */
     width: 200px;
     height: 100px;
     background-color: skyblue;
     border: 5px solid rgb(0, 0, 0);
     padding-top: 20px; /* Aplica apenas na parte superior */
     padding-right: 20px; /* Aplica apenas na parte direita */
        padding-bottom: 20px; /* Aplica apenas na parte inferior */
        padding-left: 20px; /* Aplica apenas na parte esquerda */
        border-radius: 30px; /* Arredonda as bordas */
        
}